.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    width: 50%; /* Adjusts width */
    padding: 10px 20px; /* Adjusts padding */
    border-radius: 5px; /* Gives a rounded border */
    border: 1px solid #ddd; /* Adjusts border color */
    font-size: 16px; /* Adjusts font size */
    outline: none; /* Removes outline */
    transition: border 0.3s; /* Adds transition */
}

.search-input:focus {
    border-color: #ff8f1f; /* Changes border color on focus */
}

.search-input::placeholder {
    color: #888; /* Adjusts placeholder text color */
}

.video-card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    margin-bottom: 10px;
}

.video-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.video-card-link {
    text-decoration: none;
    color: inherit;
}

.video-card-header {
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.video-card-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.video-card-body {
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
}

.video-card-title {
    margin-bottom: 20px;
    color: #333;
}

.video-card-button {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.video-card-button:hover {
    background-color: #0056b3;
}
