.login-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* or specify a height */
  }
  
  .login-modal-btn {
    font-family: 'Roboto', sans-serif;
    padding: 8px 60px;
    background-color: #ff8f1f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.5);
  }
  
  
  .modal-login-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: Provides a different background color */
    padding: 20px;
}

.modal-login-footer p {
    margin: 0; /* Removes default paragraph margins */
    font-size: 16px; /* Optional: Adjusts the font size */
}

.modal-login-footer a {
    color: #ff8f1f; /* Matches the color used in your button */
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold; /* Optional: Makes the link text bold */
}
.modal-login-footer button {
  color: #ff8f1f; /* Matches the color used in your button */
  text-decoration: none;
  margin-left: 5px;
  font-weight: bold; /* Optional: Makes the link text bold */
}

.modal-login-footer a:hover {
    text-decoration: underline;
}

.modal-login-footer button:hover {
  color: #ff8f1f;
  text-decoration: underline;
}